@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F0F3F8;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
.bg-svg {
    position: absolute;
    z-index: -1;
}
#loginForm {
    background-color: #fff !important;
    width: 100%;
    height: 80vh;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
    color: #f26c4f;
    margin-top: 8px;
}

/* a {
    font-weight: 600;
    border-radius: 4px;
    display: inline;
    padding: 10px;
    margin-top: 20px;
    flex-direction: row;
    color:whitesmoke;
    background-color: #001c64;
    text-decoration: none;
    box-shadow: none;
} */
input {
    background-color: transparent;
    color: rgb(60, 74, 91);
    font-family: proxima-nova;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0px;
    padding: 12px 14px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

input:focus {
    outline: none;
}

.hkMNOF {
    border-color: rgb(188, 202, 216);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.phn {
    width: 100%;
    font-family: "Poppins", sans-serif;
}
label {
    color: rgb(104, 119, 141);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    left: 8px;
    position: absolute;
    top: -6px;
    margin: 0px;
    padding: 0px 8px;
    z-index: 1;
    background-color: transparent;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    z-index: 999;
    background-color: #fff;
}
.submitbt {
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    gap: 8px;
    justify-content: center;
    padding: 9px 23px;
    width: 100%;
    background-color:#f26c4f;
    color: white;
    border-color:#f26c4f;
    box-shadow: none;
    cursor: pointer;
    pointer-events: all;
}
button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    padding: 9px 23px;
    width: 100%;
    background-color:#f26c4f;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    pointer-events: all;
}
@media screen and (max-width: 768px) {
    .footer {
        position: static;
        padding: 20px 0;
    }
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .leftdiv {
        display: none;
    }

    .rightdiv {
        width: 100%;
    }

    form,
    .loginForm {
        height: auto;
        padding: 20px;
    }

    .logo {
        display: none;
    }

    .footer {
        position: static;
        padding: 20px 0;
    }
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    visibility: hidden; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.loader.show {
    visibility: visible;
    opacity: 1;
}


/* From Uiverse.io by barisdogansutcu */
.loader svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 9s linear infinite;
}

.loader svg circle {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


.contaner-2 {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.heroBanner {
    min-height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.popupcall {
    width: 100vw;
    height: 100vh;
    background-color: #0000009f;
    z-index: 9999999;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popupbox {
    width: 420px;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    animation: open 1s ease-in-out;
}

.popupbox h4, .popupbox h4 a {
    color:#001c64;
    font-weight: normal;
}

@keyframes open {
    0%{
        scale: 0;
        opacity: 0;
    }
    
    100%{
        scale: 1;
        opacity: 1;
    }
}